body {
    background-color: #7ACBCD;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container img {
    width: 100%;
    height: 100%;
    box-shadow: 25px 25px 8px #444;
}